{% extends 'base.html.twig' %}
{% block title %}Ficha contacto{% endblock %}
{% block body %}
<h1>Ficha del contacto</h1>
    {% if contacto %}
    <ul>
        <li><strong>{{ contacto.nombre}}</strong></li>
        <li><strong>Avatar: </strong><br>
        <img src={{ asset('/images/' ~ contacto.file) }}/></li>
        <li><strong>Teléfono: </strong>{{ contacto.telefono}}</li>
        <li><strong>Correo: </strong>{{ contacto.email}}</li>
        <li><strong>Provincia: </strong>{{ contacto.Provincia.nombre}}</li>
        <li><strong>Codigo ZIP: </strong>{{ contacto.Provincia.ZIP}}</li>
    </ul>
    {% else %}
        <p>Contacto no encontrado</p>
    {% endif %}
{% endblock %}
